<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/basket.css" />
    <link rel="stylesheet" href="/public/css/accueil.css" />

    <title>Basket</title>
  </head>
  <body>
    <%- include('../components/header', {connect}); %>
    <%-include('../components/burger-list'); %>
    <section>
      <div class="search-bar-ctn">
        <%- include('../components/search-bar'); %>
      </div>
      <div class="main">
        <div class="articles" id="basket-ctn">
          <p>Articles</p>
        </div>
        <form id="myForm" action="/payement" method="post" class="payement">
          <%if (connect !== null) {%>
          <p style="color: red; font-size: 30px"><%= error.message%></p>
          <p class="to-pad info-client">Informations client</p>
          <div class="nom-prenom to-pad">
            <div class="inputBox">
              <input name="premon" placeholder="ex: Vincent" type="text" required/>
              <span>Nom</span>
            </div>
            <div class="inputBox">
              <input name="nom" placeholder="ex: Franky" type="text" required=""/>
              <span>Prenom</span>
            </div>
          </div>
          <span class="separate to-pad"></span>

          <div class="to-pad">
            <div class="inputBox street">
              <input name="street" placeholder="ex: 11 bd du metro" class="rue" type="text" required="" onblur="removeActiveClass()" oninput="AddresseStreet()" onfocus="AddresseStreet()"/>
              <span>Rue</span>
              <div class="gros-truc"></div>
            </div>
          </div>
          <div class="ville-postal to-pad">
            <div class="inputBox">
              <input name="ville" placeholder="ex: Ouapy" type="text" required=""/>
              <span>Ville</span>
            </div>
            <div class="inputBox">
              <input name="postcode" placeholder="ex: 13005" type="text" required=""/>
              <span>Code postal</span>
            </div>
          </div>
          <span class="separate to-pad"></span>
          <div class="to-pad">
            <div class="inputBox">
              <input name="cb" placeholder="ex: 1418 3945 1109 0593" class="carte-infos" type="text" required oninput="insertSpace()" maxlength="19"/>
              <span>Carte</span>
            </div>
          </div>
          <div class="exp-cvc to-pad">
            <div class="inputBox">
              <input name="date" placeholder="ex: 11/09" type="text" required=""/>
              <span>Date d'expiration</span>
            </div>
            <div class="inputBox">
              <input name="cvc" placeholder="ex: 069" type="text" required="" />
              <span>CVC</span>
            </div>
          </div>
          <span class="separate to-pad"></span>
          <p class="detail-commande elem">Detail de la commande</p>
          <div class="detail-commande-ctn"></div>
          <p class="price to-pad" id="total">Vous n'avez aucun article</p>
          <input hidden="hidden" name="price" />
          <div class="acheter" >
            <button type="submit" class="buy-btn">Payer</button>
          </div>
          <%} else{%>
          <p class="to-pad info-client">Informations client</p>
          <div class="nom-prenom to-pad">
            <div class="inputBox">
              <input
                disabled
                name="premon"
                placeholder="ex: Vincent"
                type="text"
                required
              />
              <span>Nom</span>
            </div>
            <div class="inputBox">
              <input
                disabled
                name="nom"
                placeholder="ex: Franky"
                type="text"
                required=""
              />
              <span>Prenom</span>
            </div>
          </div>
          <span class="separate to-pad"></span>
          <div class="to-pad">
            <div class="inputBox street">
              <input
                disabled
                name="street"
                placeholder="ex: 11 bd du metro"
                class="rue"
                type="text"
                required=""
                onblur="removeActiveClass()"
                oninput="AddresseStreet()"
                onfocus="AddresseStreet()"
              />
              <span>Rue</span>
              <div class="gros-truc"></div>
            </div>
          </div>
          <div class="ville-postal to-pad">
            <div class="inputBox">
              <input
                disabled
                name="ville"
                placeholder="ex: Ouapy"
                type="text"
                required=""
              />
              <span>Ville</span>
            </div>
            <div class="inputBox">
              <input
                disabled
                name="postcode"
                placeholder="ex: 13005"
                type="text"
                required=""
              />
              <span>Code postal</span>
            </div>
          </div>
          <span class="separate to-pad"></span>
          <div class="to-pad">
            <div class="inputBox">
              <input
                disabled
                name="cb"
                placeholder="ex: 1418 3945 1109 0593"
                class="carte-infos"
                type="text"
                required
                oninput="insertSpace()"
                maxlength="19"
              />
              <span>Carte</span>
            </div>
          </div>
          <div class="exp-cvc to-pad">
            <div class="inputBox">
              <input
                disabled
                name="date"
                placeholder="ex: 11/09"
                type="text"
                required=""
              />
              <span>Date d'expiration</span>
            </div>
            <div class="inputBox">
              <input
                disabled
                name="cvc"
                placeholder="ex: 069"
                type="text"
                required=""
              />
              <span>CVC</span>
            </div>
          </div>
          <span class="separate to-pad"></span>
          <p class="detail-commande elem">Detail de la commande</p>
          <div class="detail-commande-ctn"></div>
          <p class="price to-pad" id="total">Vous n'avez aucun article</p>
          <input hidden="hidden" name="price" />
          <div class="acheter">
            <button disabled class="buy-btn">Payer</button>
          </div>
          <%}%>
        </form>
      </div>
    </section>
    <%- include('../components/footer'); %>
  </body>
  <script src="/public/js/payement.js"></script>
  <script src="/public/js/script2.js"></script>
  <script src="/public/js/basket.js"></script>
</html>
