<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/forgotpassword.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />

    <title>Reset your password</title>
  </head>
  <body>
    <%- include('../components/header', {connect}); %>
    <%-include('../components/burger-list'); %>

    <section>
      <div class="search-bar-ctn">
        <%- include('../components/search-bar'); %>
      </div>
      <div class="main-ctn">
        <img src="/public/img/logo.png" alt="Logo Horo Haven" />
        <% if(send) {%>
        <p style="color: #000; font-size: 20px">Email envoyé</p>
        <%}else if (send === false) {%>
        <p style="color: #000; font-size: 20px">Erreur avec le mail</p>
        <%}%>
        <form action="/forgotPassword" method="post">
          <p>Entrez votre adresse mail</p>
          <input
            type="email"
            required
            name="email"
            placeholder="Rentrer votre email"
          />
          <button type="submit">Envoyer le mail</button>
        </form>
      </div>
    </section>
    <%- include('../components/footer'); %>
  </body>
  <script src="/public/js/script2.js"></script>
</html>
