<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/forgotpassword.css" />
    <title>Reset your password</title>
  </head>
  <body>
    <%- include('../components/header'); %>
    <%-include('../components/burger-list'); %> <% if(send) {%>
    <p>Email envoyé</p>
    <%}else if (send === false) {%>
    <section>
      <div class="search-bar-ctn">
        <%- include('../components/search-bar'); %>
      </div>
      <div class="main-ctn">
        <p>Erreur avec le mail</p>
        <%}%>
        <form action="/forgotPassword" method="post">
          <input
            type="email"
            required
            name="email"
            placeholder="Rentrer votre email"
          />
          <button type="submit">Wé c'est michel</button>
        </form>
      </div>
    </section>
    <%- include('../components/footer'); %>

  </body>
  <script src="/public/js/script2.js"></script>
</html>
