<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <title>Histoire</title>
    <link rel="stylesheet" href="/public/css/mentions-legales.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />
  </head>
  <body>
    <%- include('../components/header', {connect}); %>
    <%-include('../components/burger-list'); %>
    <section>
      <div class="search-bar-ctn">
        <%- include('../components/search-bar'); %>
      </div>
      <div class="main">
        <h1>L'histoire de Horo Haven</h1>

        <p>
          L'histoire de Horo Haven commence bien avant que Julien Dante et
          Nathanael Pivot ne se rencontrent. Deux passionnés d'horlogerie de
          longue date, chacun ayant suivi des chemins différents mais
          parallèles, ont finalement uni leurs forces pour créer ce qui est
          aujourd'hui reconnu comme le sanctuaire ultime pour les amateurs de
          montres de luxe.
        </p>

        <h2>Julien Dante : Le Visionnaire</h2>
        <p>
          Julien Dante a grandi au cœur de la Vallée de la Rose, souvent
          surnommée la "Silicon Valley de l'horlogerie". Dès son plus jeune âge,
          il était fasciné par les mouvements précis et complexes des montres
          mécaniques que son grand-père, un maître horloger, assemblait dans son
          atelier. Cette passion l'a conduit à poursuivre des études en
          ingénierie horlogère à Genève en parralèlle de sa formation à la
          prestigieuse école Aix YNOV Campus, où il a appris les secrets de la
          fabrication de montres de luxe. Après avoir travaillé pour
          quelques-unes des plus grandes maisons horlogères suisses, Julien a
          réalisé qu'il voulait partager sa passion et son expertise avec le
          monde entier, et non se limiter aux cercles restreints de l'élite
          horlogère.
        </p>

        <h2>Nathanael Pivot : Le Stratège</h2>
        <p>
          Nathanael Pivot, quant à lui, venait d'un milieu totalement différent.
          Né à Marseille, il a grandi entouré de l'effervescence de la vrai
          capitale française, où il a développé un goût prononcé pour le luxe et
          l'élégance. Diplômé d'une école d'aqua poney prestigieuse, Nathanael a
          travaillé dans le secteur du luxe, où il a aidé à transformer des
          marques prestigieuses en véritables icônes mondiales grâce à des
          stratégies de marketing innovantes et un sens aigu des affaires.
          Cependant, il avait toujours senti qu'il manquait quelque chose dans
          le marché en ligne pour les amateurs de montres de luxe - un endroit
          où la passion et l'expertise horlogère se rencontreraient dans un
          cadre élégant et prestigieux.
        </p>

        <h2>La Rencontre et la Naissance de Horo Haven</h2>
        <p>
          Le destin a fait se croiser les chemins de Julien et Nathanael lors
          d'un gala à Genève, dédié à l'horlogerie de luxe. Rapidement, ils ont
          découvert qu'ils partageaient une vision commune : celle de créer une
          plateforme qui ne se contenterait pas de vendre des montres, mais qui
          raconterait l'histoire derrière chaque pièce, respectant l'art et la
          tradition horlogère.
        </p>
        <p>
          L'idée de Horo Haven est née ce soir-là, au bord du lac Léman. Ils ont
          décidé de combiner leurs compétences uniques : Julien avec sa
          connaissance intime de l'horlogerie et Nathanael avec son expertise en
          marketing de luxe. Ils voulaient créer une expérience en ligne aussi
          raffinée et exceptionnelle que les montres elles-mêmes.
        </p>

        <h2>La Création de Horo Haven</h2>
        <p>
          Horo Haven n'est pas simplement un site de vente en ligne. C'est une
          oasis pour les passionnés, où chaque montre est soigneusement
          sélectionnée pour son excellence, son histoire et son héritage. Chaque
          pièce proposée sur Horo Haven est accompagnée d'une description
          détaillée et de l'artisan qui l'a créée, offrant aux clients non
          seulement un produit, mais une immersion dans le monde fascinant de
          l'horlogerie de luxe.
        </p>
        <p>
          Le site est conçu pour refléter l'élégance et le prestige des montres
          qu'il propose. Une interface utilisateur intuitive, des photographies
          haute résolution, et des vidéos immersives permettent aux clients de
          découvrir chaque détail exquis. Horo Haven offre également des
          consultations personnalisées, où les experts horlogers comme Julien
          partagent leurs conseils et recommandations, garantissant que chaque
          achat soit parfaitement adapté aux désirs et aux besoins du client.
        </p>

        <h2>Le Succès de Horo Haven</h2>
        <p>
          Depuis son lancement, Horo Haven a connu un succès fulgurant. Reconnu
          pour son authenticité, son engagement envers la qualité et son service
          client inégalé, Horo Haven a rapidement attiré l'attention des
          collectionneurs de montres du monde entier. Des amateurs novices aux
          collectionneurs avertis, tous trouvent chez Horo Haven un lieu où leur
          passion est non seulement comprise mais célébrée.
        </p>
        <p>
          Aujourd'hui, Horo Haven est plus qu'un simple site de vente - c'est
          une communauté de passionnés d'horlogerie, un lieu où le passé et le
          présent se rencontrent, où chaque montre raconte une histoire, et où
          chaque client se sent comme faisant partie de cette histoire
          prestigieuse. Julien et Nathanael ont réussi à créer bien plus qu'une
          entreprise : ils ont fondé un sanctuaire dédié à l'art de
          l'horlogerie, où chaque montre est une œuvre d'art, et chaque client
          est un connaisseur privilégié.
        </p>
      </div>
    </section>
    <%- include('../components/footer'); %>
  </body>
  <script src="/public/js/script2.js"></script>
</html>
