<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head', {connect}); %>
    <link rel="stylesheet" href="/public/css/login.css" />
    <link rel="stylesheet" href="/public/css/accueil.css" />

    <title>Login</title>
  </head>
  <body>
    <%- include('../components/header'); %>
    <%-include('../components/burger-list'); %>

    <section>
      <div class="search-bar-ctn">
        <%- include('../components/search-bar'); %>
      </div>
      <form action="/treatment/login" method="post" class="log-ctn">
        <img src="/public/img/logo.png" alt="Logo Login" />
        <h1 class="login-text">Login</h1>
        <input name="name" type="text" placeholder="Username or E-mail" />
        <input name="password" type="password" placeholder="Password" />
        <p><%=error.message%></p>
        <div class="remember-forget-ctn">
          <div class="remember">
            <input name="remember" type="checkbox" />
            <p>Remember me</p>
          </div>
          <a href="/forgotPassword">Forgot Password ?</a>
        </div>

        <button>LOGIN</button>
        <a href="/create-account">Don't have an account ? Create one here</a>
      </form>
    </section>
  </body>
  <script src="/public/js/script2.js"></script>
</html>
