<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <title>Reset your password</title>
    <link rel="stylesheet" href="/public/css/forgotpassword.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />
  </head>
  <body>
    <%- include('../components/header', {connect}); %>
    <%-include('../components/burger-list'); %>
    <section>
      <div class="main-ctn">
        <img src="/public/img/logo.png" alt="Logo Horo Haven" />

        <form action="/resetPassword/<%=token%>" method="post">
            <p>Entrez votre mot de passe</p>
            <input
            type="password"
            required
            name="password"
            placeholder="Nouveau mot de passe"
          />
          <button type="submit">Envoyer</button>
        </form>
      </div>
    </section>

    <%- include('../components/footer'); %>
  </body>
  <script src="/public/js/script2.js"></script>
</html>
