<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/result.css" />
    <link rel="stylesheet" href="/public/css/accueil.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />


    <title>Montres</title>
  </head>
  <body>
    <%- include('../components/header', {connect}); %>
    <%-include('../components/burger-list'); %>
    <div class="search-bar-ctn">
      <%- include('../components/search-bar'); %>
    </div>
    <%if (error === null){%>


    <form class="filtres" action="/filtres" method="post">
      <div class="color-filter">
        <button class="color-btn" type="button">
          Couleurs
        </button>
        <div class="color-ctn">
          <label><input type="checkbox" value="Argent" name="color[]"> Argent</label>
            <label><input type="checkbox" value="Blanc" name="color[]"> Blanc</label>
            <label><input type="checkbox" value="Bleu"name="color[]"> Bleu</label>
            <label><input type="checkbox" value="Champagne"name="color[]"> Champagne</label>
            <label><input type="checkbox" value="Diamant"name="color[]"> Diamant</label>
            <label><input type="checkbox" value="Gris"name="color[]"> Gris</label> 
            <label><input type="checkbox" value="Ivoire"name="color[]"> Ivoire</label>
            <label><input type="checkbox" value="Marron"name="color[]"> Marron</label>
            <label><input type="checkbox" value="Multi-color"name="color[]"> Multi-color</label>
            <label><input type="checkbox" value="Noir"name="color[]"> Noir</label>
            <label><input type="checkbox" value="Or jaune"name="color[]"> Or jaune</label>
            <label><input type="checkbox" value="Rose"name="color[]"> Rose</label>
            <label><input type="checkbox" value="Squelette"name="color[]"> Squelette</label>
            <label><input type="checkbox" value="Transparent"name="color[]"> Transparent</label>
        </div>
      </div>

      <div class="matiere-filter">
        <button class="matiere-btn" type="button">
          Matiere
        </button>
        <div class="matiere-ctn">
          <label><input type="checkbox" value="Or blanc"name="matiere[]"> Or blanc</label>
            <label><input type="checkbox" value="Or jaune"name="matiere[]"> Or jaune</label>
            <label><input type="checkbox" value="Or rose"name="matiere[]"> Or rose</label>
            <label><input type="checkbox" value="Platine"name="matiere[]"> Platine</label>
            <label><input type="checkbox" value="Acier inoxydable"name="matiere[]"> Acier inoxydable</label>
            <label><input type="checkbox" value="Titane"name="matiere[]"> Titane</label>
            <label><input type="checkbox" value="Tantale" name="matiere[]"> Tantale</label>
            <label><input type="checkbox" value="Aluminium"name="matiere[]"> Aluminium</label>
            <label><input type="checkbox" value="Céramique"name="matiere[]"> Céramique</label>
        </div>
      </div>

      <div class="marque-filter">
        <button class="marque-btn" type="button">
          Marque
        </button>
        <div class="marque-ctn">
          <label><input type="checkbox" value="A. Lange & Sohne"name="marque[]"> A. Lange & Sohne</label>
            <label><input type="checkbox" value="Audemars Piguet"name="marque[]"> Audemars Piguet</label>
            <label><input type="checkbox" value="Breitling"name="marque[]"> Breitling</label>
            <label><input type="checkbox" value="F.P. Journe"name="marque[]"> F.P. Journe</label>
            <label><input type="checkbox" value="H. Moser & Cie."name="marque[]"> H. Moser & Cie.</label>
            <label><input type="checkbox" value="Omega" name="marque[]"> Omega</label>
            <label><input type="checkbox" value="Patek Philippe"name="marque[]"> Patek Philippe</label>
            <label><input type="checkbox" value="Vacheron Constantin"name="marque[]"> Vacheron Constantin</label>
        </div>
      </div>

      <div class="price-filter">
        <button class="price-btn" type="button">
          Prix
        </button>
        <div class="price-ctn">
          <label><input type="radio" value="aucun"name="prix"> Aucun</label>
          <label><input type="radio" value="croissant"name="prix"> Prix Croissant</label>
            <label><input type="radio" value="decroissant"name="prix"> Prix Décroissant</label>
            <label><input type="radio" value="reduction"name="prix"> Réduction</label>
        </div>
      </div>


      <button id="confirm" type="submit">Confirmer</button>
    </form>


    <div class="item-ctn">
      <%if(lst.items != null){%>
      <% lst.items.forEach(function (article) { %>
      <a class="watch" href="/detail?id=<%= article.Id%>">
        <div class="img-ctn">
          <img class="dessus" src="<%= article.Images[0] %>" alt="Image <%= article.Model %>" />
          <img class="dessous" src="<%= article.Images[1] %>" alt="Image <%= article.Model %> 2" />
        </div>
        <p class="model"><%= article.Model %></p>
        <p class="marque"><%= article.marqueLabel %></p>
        <% if (article.Reduction){%>
        <p class="reduction">Promo : -<%= article.Reduction %>%</p>
        <%};%>
      </a>
      <%}); %>
      <%};%>
    </div>


    <div class="pagination">
      <% if (lst.previous !== null) {%>
        <a href="/result?previous=<%= lst.previous %>" class="page">Previous</a>
      <%} else {%>
          <div class="page">Previous</div>
        <%}%>

      <!-- first_page-->
      <% if((lst.current_page)>4){%>
      <a href="/result?next=<%= lst.href.includes("?") ? lst.href + "&" : lst.href + "?" %>limit=12&offset=0" class="page"> 1 </a>
      <p class="page">...</p>
      <% } else if (lst.current_page===2 || lst.current_page===4){ %>
        <a href="/result?next=<%= lst.href.includes("?") ? lst.href + "&" : lst.href + "?" %>limit=12&offset=0" class="page"> 1 </a>
      <%}%>
      <!-- Pour en avoir 2 avant -->

      <% if (lst.current_page-2 >= 1){%>
        <a href="/result?next=<%= lst.href.includes("?") ? lst.href + "&" : lst.href + "?" %>limit=12&offset=<%= +(lst.current_page-2)*12 %>" class="page"><%= lst.current_page-2 %></a>
        <a href="/result?next=<%= lst.href.includes("?") ? lst.href + "&" : lst.href + "?" %>limit=12&offset=<%= +(lst.current_page-1)*12 %>" class="page"><%= lst.current_page-1 %></a>
      <%}%>

      <% for(var i=lst.current_page-1; i < lst.last_page; i++) { %>
      <% if (i-2 === lst.current_page){%> <!--Pour faire que 2 après-->
        <% if (i === lst.last_page-1){%>
          <a href="/result?next=<%= lst.href.includes("?") ? lst.href + "&" : lst.href + "?" %>limit=12&offset=<%= +i*12 %>" class="page"><%=lst.last_page%></a>
        <% } %>
      <%break%>
      <% } %>
      <% if (i=== lst.current_page-1){%>
        <a href="/result?next=<%= lst.href.includes("?") ? lst.href + "&" : lst.href + "?" %>limit=12&offset=<%= +i*12 %>" class="page current-page"><%= i+1 %></a>
      <%} else {%>
      <a href="/result?next=<%= lst.href.includes("?") ? lst.href + "&" : lst.href + "?" %>limit=12&offset=<%= +i*12 %>" class="page"><%= i+1 %></a>
      <%}%>
      <% } %>

      <!-- last_page -->

      <% if((lst.current_page)<lst.last_page-3){%>
      <p class="page">...</p>
      <a href="/result?next=<%= lst.href.includes("?") ? lst.href + "&" : lst.href + "?" %>limit=12&offset=<%= +(lst.last_page-1)*12 %>" class="page"><%= lst.last_page %></a>
      <% } %>
        <% if (lst.next !== null) {%>
          <a href="/result?next=<%= lst.next %>" class="page">Next</a>
        <%} else {%>
          <div class="page">Next</div>
        <%}%>
    </div>
    <%}else {%>
      <div class="fail-ctn">
        <p class="errorMessage"><%= message%></p>
      </div>
    <%}%>
    <%- include('../components/footer'); %>

  </body>
  <script src="/public/js/script2.js"></script>
  <script src="/public/js/filtres.js"></script>
</html>

