<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/result.css" />
    <link rel="stylesheet" href="/public/css/accueil.css" />

    <title>Montres</title>
  </head>
  <body>
    <%- include('../components/header'); %>
    <%-include('../components/burger-list'); %>
    <div class="search-bar-ctn">
      <%- include('../components/search-bar'); %>
    </div>
    <div class="item-ctn">
      <% lst.items.forEach(function (article) { %>
      <div class="watch">
        <img src="<%= article.Images[0] %>" alt="Image <%= article.Model %>" />
        <p class="model"><%= article.Model %></p>
        <p class="marque"><%= article.Marque_Label %></p>
      </div>
      <%}); %>
    </div>
    <div class="pagination">
      <% for(var i=lst.current_page; i < lst.last_page; i++) { %> <%
      if(i-3===lst.current_page){%>
      <p class="page">...</p>
      <a
        href="/result?next=http://localhost:4000/articles?limit=12&offset=<%= +i*12 %>"
        class="page"
      ><%= lst.last_page %></a>
      <% } %>
      <a
        href="/result?next=http://localhost:4000/articles?limit=12&offset=<%= +i*12 %>"
        class="page"
        ><%= i+1 %></a>
      <% } %>
    </div>
  </body>
  <script src="/public/js/script2.js"></script>
</html>
