<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/result.css" />
    <link rel="stylesheet" href="/public/css/accueil.css" />

    <title>Montres</title>
  </head>
  <body>
    <%- include('../components/header'); %>
    <%-include('../components/burger-list'); %>
    <div class="search-bar-ctn">
      <%- include('../components/search-bar'); %>
    </div>
    <div class="item-ctn">
      <% lst.items.forEach(function (article) { %>
      <div class="watch">
        <img src="<%= article.Image_URL1 %>" alt="Image <%= article.Model %>" />
        <p class="model"><%= article.Model %></p>
        <p class="marque"><%= article.Marque_Label %></p>
      </div>
      <%}); %>
    </div>
    <div class="prev-next">
      <a href="/result?previous=<%= lst.previous %>">Previous</a>

      <a href="/result?next=<%= lst.next %>">Next</a>
    </div>
  </body>
  <script src="/public/js/script2.js"></script>
</html>
