<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/infos-user.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />

    <title>User</title>
  </head>
  <body>
    <%- include('../components/header', {connect}); %>
    <%-include('../components/burger-list'); %>
    <section class="infos-user-ctn">
      <div class="search-bar-ctn">
        <%- include('../components/search-bar'); %>
      </div>
      <div class="infos-user">
        <p>Bonjour <%=user.user.Name%> !</p>
      </div>
    </section>
    <section class="fav-histo">
      <div class="fav">
        <p class="to-pad">Favoris</p>
        <div class="fav-ctn" id="fav-ctn">
          <% if (fav === null) {%>
          <p>Vous n'avez aucun favoris</p>
          <%} else {%> <% fav.forEach(function (article) { %>
          <div class="elem-fav">
            <img src="<%=article.Images[0]%>" class="img-item" />
            <div class="text-ctn">
              <p><%= article.Model %></p>
              <p><%= article.marqueLabel %></p>
            </div>
            <a href="/ajoutFav/<%= article.Id %>">
              <img class="delete-item-img" src="/public/img/trash.png" />
            </a>
          </div>
          <%})%> <%}%>
        </div>
      </div>

      <div class="historique-commande">
        <p class="to-pad">Historique des commandes</p>
        <div class="commande-ctn">
          <p>Vous n'avez passer aucune commande</p>
        </div>
      </div>
    </section>
    <%- include('../components/footer'); %>
  </body>
  <script src="/public/js/script2.js"></script>
</html>
